html {
    min-height: 100%;
    background-color: #5e5373;
    position: relative;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: white;
}

#navigation {
    z-index: 30;
    position: fixed;
    top: 0;
    width: 100%;
    background: #3f374c;
    padding: 15px 0px;
}

#inicio {
    margin-left: 20px;
}

#navigation a {
    transition: all 0.2s ease;
    color: white;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
}

nav a:hover {
    border-radius: 10px;
    background-color: black;
}

.up {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50%;
    background: linear-gradient(to right, #1f1c26 30%, transparent);
}

section div article {
    position: absolute;
    max-width: 600px;
    top: 40%;
    margin-left: 140px;
}

section div article p{
    color: white;
    font-size: 3rem;
    margin: 0px 0px;
}

.down {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    color: white;
    object-fit: cover;
    background: linear-gradient(to right, #1f1c26 30%, transparent);
}

.down p {
    max-width: 600px;
    padding-left: 140px;
    font-size: 1.3rem;
    margin: 10px 0px;
}

.background > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .me img{
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.me {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    max-width: 100%;
    height: calc(100% - 60px);
    padding-left: 83%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #362f42;
    margin-top: 25px;
    padding: 19.5px 0px;
}

footer p {
    display: inline-block;
    margin: 0px 10px;
}

footer a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

footer img {
    float: right;
    margin: 0px 10px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}